{
  "openapi": "3.1.0",
  "info": {
    "title": "Subly API",
    "description": "Subly API to manage workspace data.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://web.subly.app/api/v1",
      "description": "API Server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Expenses",
      "description": "Operations related to expenses"
    },
    {
      "name": "Revenue",
      "description": "Operations related to revenue items"
    },
    {
      "name": "Transactions",
      "description": "Operations related to financial transactions"
    }
  ],
  "paths": {
    "/expenses": {
      "get": {
        "tags": ["Expenses"],
        "summary": "List all expenses",
        "description": "Returns a list of all expenses for the authenticated workspace. Can be filtered by project ID.",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "The ID of the project to filter expenses by.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of expenses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Expense"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      },
      "post": {
        "tags": ["Expenses"],
        "summary": "Create an expense",
        "description": "Creates a new expense record for the workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expense created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/expenses/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The ID of the expense to retrieve, update, or delete.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": ["Expenses"],
        "summary": "Get an expense by ID",
        "description": "Retrieves a single expense by its unique ID.",
        "responses": {
          "200": {
            "description": "The requested expense.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "put": {
        "tags": ["Expenses"],
        "summary": "Update an expense",
        "description": "Updates the details of an existing expense.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpense"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "delete": {
        "tags": ["Expenses"],
        "summary": "Delete an expense",
        "description": "Deletes an expense by its unique ID.",
        "responses": {
          "204": {
            "description": "Expense deleted successfully."
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/revenue": {
      "get": {
        "tags": ["Revenue"],
        "summary": "List all revenue items",
        "description": "Returns a list of all revenue items for the authenticated workspace. Can be filtered.",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "The ID of the project to filter revenue by.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "is_recurring",
            "in": "query",
            "description": "Filter by whether the revenue is recurring.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of revenue items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RevenueItem"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      },
      "post": {
        "tags": ["Revenue"],
        "summary": "Create a revenue item",
        "description": "Creates a new revenue item for the workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewRevenueItem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Revenue item created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueItem"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/revenue/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The ID of the revenue item to retrieve, update, or delete.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": ["Revenue"],
        "summary": "Get a revenue item by ID",
        "description": "Retrieves a single revenue item by its unique ID.",
        "responses": {
          "200": {
            "description": "The requested revenue item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueItem"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "put": {
        "tags": ["Revenue"],
        "summary": "Update a revenue item",
        "description": "Updates the details of an existing revenue item.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRevenueItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revenue item updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueItem"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "delete": {
        "tags": ["Revenue"],
        "summary": "Delete a revenue item",
        "description": "Deletes a revenue item by its unique ID.",
        "responses": {
          "204": {
            "description": "Revenue item deleted successfully."
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List all transactions",
        "description": "Returns a list of all transactions for the authenticated workspace. Can be filtered.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by transaction type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["expense", "revenue"]
            }
          },
          {
            "name": "sub_id",
            "in": "query",
            "description": "Filter by the associated expense (subscription) ID.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "revenue_item_id",
            "in": "query",
            "description": "Filter by the associated revenue item ID.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      },
      "post": {
        "tags": ["Transactions"],
        "summary": "Create a transaction",
        "description": "Creates a new transaction for the workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTransaction"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" }
        }
      }
    },
    "/transactions/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The ID of the transaction to retrieve, update, or delete.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": ["Transactions"],
        "summary": "Get a transaction by ID",
        "description": "Retrieves a single transaction by its unique ID.",
        "responses": {
          "200": {
            "description": "The requested transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "put": {
        "tags": ["Transactions"],
        "summary": "Update a transaction",
        "description": "Updates the details of an existing transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransaction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequestError" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "delete": {
        "tags": ["Transactions"],
        "summary": "Delete a transaction",
        "description": "Deletes a transaction by its unique ID.",
        "responses": {
          "204": {
            "description": "Transaction deleted successfully."
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Expense": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int8" },
          "name": { "type": "string", "format": "text" },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "type": { "type": "string", "enum": ["subscription", "one-time", "ltd"] },
          "is_recurring": { "type": "boolean", "description": "true if subscription" },
          "billing_freq": { "type": "integer", "format": "int2", "description": "only if is_recurring" },
          "billing_range": { "type": "string", "enum": ["day", "week", "month", "year"], "description": "only if is_recurring" },
          "nextPaymentDate": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "initialPaymentDate": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "refund_deadline": { "type": "string", "format": "date-time" },
          "cost": { "type": "number", "format": "float8" },
          "currency": { "type": "string", "format": "text", "description": "i.e. AUD" },
          "isActive": { "type": "boolean" },
          "website": { "type": "string", "format": "text" },
          "workspace_id": { "type": "integer", "format": "int8" },
          "project_id": { "type": "integer", "format": "int8" },
          "renewal_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" }
        }
      },
      "NewExpense": {
        "type": "object",
        "required": ["name", "project_id", "cost", "type"],
        "properties": {
          "name": { "type": "string", "format": "text" },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "type": { "type": "string", "enum": ["subscription", "one-time", "ltd"] },
          "is_recurring": { "type": "boolean", "description": "true if subscription" },
          "billing_freq": { "type": "integer", "format": "int2", "description": "only if is_recurring" },
          "billing_range": { "type": "string", "enum": ["day", "week", "month", "year"], "description": "only if is_recurring" },
          "nextPaymentDate": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "initialPaymentDate": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "refund_deadline": { "type": "string", "format": "date-time" },
          "cost": { "type": "number", "format": "float8" },
          "currency": { "type": "string", "format": "text", "description": "i.e. AUD" },
          "isActive": { "type": "boolean" },
          "website": { "type": "string", "format": "text" },
          "project_id": { "type": "integer", "format": "int8" },
          "renewal_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" }
        }
      },
      "UpdateExpense": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "format": "text" },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "type": { "type": "string", "enum": ["subscription", "one-time", "ltd"] },
          "is_recurring": { "type": "boolean", "description": "true if subscription" },
          "billing_freq": { "type": "integer", "format": "int2", "description": "only if is_recurring" },
          "billing_range": { "type": "string", "enum": ["day", "week", "month", "year"], "description": "only if is_recurring" },
          "nextPaymentDate": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "initialPaymentDate": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "refund_deadline": { "type": "string", "format": "date-time" },
          "cost": { "type": "number", "format": "float8" },
          "currency": { "type": "string", "format": "text", "description": "i.e. AUD" },
          "isActive": { "type": "boolean" },
          "website": { "type": "string", "format": "text" },
          "project_id": { "type": "integer", "format": "int8" },
          "renewal_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" }
        }
      },
      "RevenueItem": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int8" },
          "name": { "type": "string", "format": "text" },
          "amount": { "type": "number", "format": "float8" },
          "is_recurring": { "type": "boolean" },
          "billing_freq": { "type": "integer", "format": "int2", "description": "only if is_recurring" },
          "billing_range": { "type": "string", "enum": ["day", "week", "month", "year"], "description": "only if is_recurring" },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "nextPaymentDate": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "end_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "currency": { "type": "string", "format": "text", "description": "i.e. AUD" },
          "isActive": { "type": "boolean" },
          "website": { "type": "string", "format": "text" },
          "workspace_id": { "type": "integer", "format": "int8" },
          "project_id": { "type": "integer", "format": "int8" }
        }
      },
      "NewRevenueItem": {
        "type": "object",
        "required": ["name", "amount", "project_id"],
        "properties": {
          "name": { "type": "string", "format": "text" },
          "amount": { "type": "number", "format": "float8" },
          "is_recurring": { "type": "boolean", "default": false },
          "billing_freq": { "type": "integer", "format": "int2", "description": "only if is_recurring" },
          "billing_range": { "type": "string", "enum": ["day", "week", "month", "year"], "description": "only if is_recurring" },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "nextPaymentDate": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "end_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "currency": { "type": "string", "format": "text", "description": "i.e. AUD" },
          "isActive": { "type": "boolean" },
          "website": { "type": "string", "format": "text" },
          "project_id": { "type": "integer", "format": "int8" }
        }
      },
      "UpdateRevenueItem": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "format": "text" },
          "amount": { "type": "number", "format": "float8" },
          "is_recurring": { "type": "boolean" },
          "billing_freq": { "type": "integer", "format": "int2", "description": "only if is_recurring" },
          "billing_range": { "type": "string", "enum": ["day", "week", "month", "year"], "description": "only if is_recurring" },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "nextPaymentDate": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "end_date": { "type": "string", "format": "date-time", "description": "only if is_recurring" },
          "currency": { "type": "string", "format": "text", "description": "i.e. AUD" },
          "isActive": { "type": "boolean" },
          "website": { "type": "string", "format": "text" },
          "project_id": { "type": "integer", "format": "int8" }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "format": "int8" },
          "sub_id": { "type": "integer", "format": "int8", "nullable": true, "description": "only if is linked to an expense" },
          "revenue_item_id": { "type": "integer", "format": "int8", "nullable": true, "description": "only if is linked to a revenue item" },
          "name": { "type": "string", "format": "text" },
          "amount": { "type": "number", "format": "float8" },
          "currency_code": { "type": "string", "description": "i.e. AUD" },
          "date": { "type": "string", "format": "date-time" },
          "type": { "type": "string", "enum": ["expense", "revenue"] },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "website": { "type": "string", "format": "text" },
          "workspace_id": { "type": "integer", "format": "int8" },
          "project_id": { "type": "integer", "format": "int8" }
        }
      },
      "NewTransaction": {
        "type": "object",
        "required": ["type", "amount", "currency_code", "date"],
        "properties": {
          "sub_id": { "type": "integer", "format": "int8", "description": "only if is linked to an expense" },
          "revenue_item_id": { "type": "integer", "format": "int8", "description": "only if is linked to a revenue item" },
          "name": { "type": "string", "format": "text" },
          "amount": { "type": "number", "format": "float8" },
          "currency_code": { "type": "string", "description": "i.e. AUD" },
          "date": { "type": "string", "format": "date-time" },
          "type": { "type": "string", "enum": ["expense", "revenue"] },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "website": { "type": "string", "format": "text" },
          "project_id": { "type": "integer", "format": "int8" }
        }
      },
      "UpdateTransaction": {
        "type": "object",
        "properties": {
          "sub_id": { "type": "integer", "format": "int8", "description": "only if is linked to an expense" },
          "revenue_item_id": { "type": "integer", "format": "int8", "description": "only if is linked to a revenue item" },
          "name": { "type": "string", "format": "text" },
          "amount": { "type": "number", "format": "float8" },
          "currency_code": { "type": "string", "description": "i.e. AUD" },
          "date": { "type": "string", "format": "date-time" },
          "type": { "type": "string", "enum": ["expense", "revenue"] },
          "category": { "type": "string", "format": "text" },
          "tags": { "type": "array", "items": { "type": "integer" }, "format": "jsonb", "description": "Array of tags ids, i.e. [1362,86,85]" },
          "website": { "type": "string", "format": "text" },
          "project_id": { "type": "integer", "format": "int8" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "API key is missing, invalid, or revoked.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFoundError": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "BadRequestError": {
        "description": "The request body is missing required fields or contains invalid data.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
